@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.SignUpPage {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'KOTRAHOPE', sans-serif;
  }
  
  input-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
  }
  