@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #f8f9fa;
  }
  
  .nav-link, .login-button {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'KOTRAHOPE', sans-serif;
}
  