.mainScreen{
    width: 1900px;
    height: 1000px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.body{
    width: 100%;
    height: 100%;
    display: block;
    color:aqua
}